<li>
	{{name}}

	<button class="change-hunger" data-id="{{id}}" data-newDevour="{{devour}}">
		{{#if hungry}}Devour!{{else}}No thanks!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
